requests_limit: 5
sleep_timeout: 600
bs_api_url: http://web_server:8000
logging_level: DEBUG
bs_jwt_token: {{ albs_jwt }}
cacher_sentry_environment: dev
cacher_sentry_dsn: ''
cacher_sentry_traces_sample_rate: 0.2
