---
use_ssl: false
ssl_config:
  security_key: ""
  security_certificate: ""
  broker_ca_certificates: ""
broker_config:
  rabbitmq_host: "rabbitmq-ts"
  rabbitmq_port: 5672
  rabbitmq_ssl_port: 5671
  rabbitmq_user: "{{ rabbitmq_user }}"
  rabbitmq_password: "{{ rabbitmq_pass }}"
  rabbitmq_vhost: "{{ rabbitmq_vhost }}"
results_backend_config:
  redis_host: "{{ container_name_prefix }}_redis_1"
  redis_db_number: 1
task_default_queue: "default"
task_acks_late: true
task_track_started: true
artifacts_root_directory: "test_system_artifacts"
worker_prefetch_multiplier: 1
jwt_secret: "{{ alts_jwt_secret }}"
bs_host: "http://{{ container_name_prefix }}_web_server_1:8000"
bs_token: "{{ albs_jwt_token }}"
logs_uploader_config:
  pulp_host: "http://{{ container_name_prefix }}_pulp_1"
  pulp_user: "{{ pulp_user }}"
  pulp_password: "{{ pulp_password }}"
