---
development_mode: true
master_url: "http://{{ container_name_prefix }}_web_server_1:8000/api/v1/"
jwt_token: "{{ albs_jwt_token }}"
pulp_host: "http://pulp"
pulp_user: "{{ pulp_user }}"
pulp_password: "{{ pulp_password }}"
{% if immudb_address is defined and immudb_address %}
immudb_address: "{{ immudb_address }}"
{% endif %}
{% if immudb_database is defined and immudb_database %}
immudb_database: "{{ immudb_database }}"
{% endif %}
{% if immudb_username is defined and immudb_username %}
immudb_username: "{{ immudb_username }}"
{% endif %}
{% if immudb_password is defined and immudb_password %}
immudb_password: "{{ immudb_password }}"
{% endif %}
