CONTENT_ORIGIN='http://pulp'
ANSIBLE_API_HOSTNAME='http://pulp'
ANSIBLE_CONTENT_HOSTNAME='http://pulp/pulp/content'
TOKEN_AUTH_DISABLED=True
ALLOW_AUTOMATIC_UNSAFE_ADVISORY_CONFLICT_RESOLUTION=True
ALLOWED_EXPORT_PATHS=['/srv/exports']
