---
requests_limit: {{ tests_cacher.requests_limit }}
sleep_timeout: {{ tests_cacher.sleep_timeout }}
albs_api_url: {{ tests_cacher.albs_api_url }}
albs_jwt_token: "{{ tests_cacher.albs_jwt_token }}"
logging_level: {{ tests_cacher.logging_devel }}
cacher_sentry_environment: {{ tests_cacher.cacher_sentry_environment }}
cacher_sentry_dsn: "{{ tests_cacher.cacher_sentry_dsn }}"
cacher_sentry_traces_sample_rate: {{ tests_cacher.cacher_sentry_traces_sample_rate }}
