POSTGRES_PASSWORD="{{ postgres_password }}"
POSTGRES_DB="{{ postgres_db }}"
POSTGRES_USER="{{ postgres_user }}"
GITHUB_CLIENT="{{ github_client }}"
GITHUB_CLIENT_SECRET="{{ github_client_secret }}"
ALTS_HOST="http://{{ container_name_prefix }}_alts-scheduler_1:8000"
ALTS_TOKEN="{{ alts_jwt_token }}"
JWT_SECRET="{{ albs_jwt_secret }}"
DATABASE_URL="postgresql+asyncpg://{{ postgres_user }}:{{ postgres_password }}@{{ container_name_prefix }}_db_1/{{ postgres_db }}"
SYNC_DATABASE_URL="postgresql+psycopg2://{{ postgres_user }}:{{ postgres_password }}@{{ container_name_prefix }}_db_1/{{ postgres_db }}"
TEST_DATABASE_URL="postgresql+psycopg2://{{ postgres_user }}:{{ postgres_password }}@{{ container_name_prefix }}_db_1/{{ postgres_db }}"
REDIS_URL="redis://{{ container_name_prefix }}_redis_1:6379"
PULP_HOST="http://pulp"
PULP_INTERNAL_HOST="http://pulp"
PULP_USER="{{ pulp_user }}"
PULP_PASSWORD="{{ pulp_password }}"
PULP_DATABASE_URL="postgresql+psycopg2://postgres:{{ pulp_password }}@pulp/pulp"
FRONTEND_BASEURL="{{ frontend_baseurl }}"
RABBITMQ_DEFAULT_HOST="rabbitmq-ts"
RABBITMQ_ERLANG_COOKIE="{{ rabbitmq_erlang_cookie }}"
RABBITMQ_DEFAULT_USER="{{ rabbitmq_user }}"
RABBITMQ_DEFAULT_PASS="{{ rabbitmq_pass }}"
RABBITMQ_DEFAULT_VHOST="{{ rabbitmq_vhost }}"
LOGGING_LEVEL="DEBUG"
ALBS_JWT_TOKEN="{{ albs_jwt_token }}"
ALBS_API_URL="http://{{ container_name_prefix }}_web_server_1:8000/api/v1/"
SIGN_SERVER_TOKEN="{{ albs_jwt_token }}"
SIGN_SERVER_URL="http://{{ container_name_prefix }}_web_server_1:8000/api/v1/"
IMMUDB_USERNAME="{{ immudb_username }}"
IMMUDB_PASSWORD="{{ immudb_password }}"
IMMUDB_DATABASE="{{ immudb_database }}"
IMMUDB_ADDRESS="{{ immudb_address }}"
IMMUDB_PUBLIC_KEY_FILE="{{ immudb_public_key_file }}"
