---
pgp_keys: {{ gpg_keys }}
jwt_token: "{{ albs_jwt_token }}"
pulp_host: "http://{{ albs_address }}:8081"
pulp_user: "{{ pulp_user }}"
pulp_password: "{{ pulp_password }}"
development_mode: true
dev_pgp_key_password: "{{ gpg_default_password }}"
master_url: "http://{{ albs_address }}:8080/api/v1/"
ws_master_url: "ws://{{ albs_address }}:8080/api/v1/"
{% if immudb_address is defined and immudb_address %}
immudb_address: "{{ immudb_address }}"
{% endif %}
{% if immudb_database is defined and immudb_database %}
immudb_database: "{{ immudb_database }}"
{% endif %}
{% if immudb_username is defined and immudb_username %}
immudb_username: "{{ immudb_username }}"
{% endif %}
{% if immudb_password is defined and immudb_password %}
immudb_password: "{{ immudb_password }}"
{% endif %}
