---
master_url: "{{ albs_api_url }}"
base_arch: "{{ machine_arch }}"
threads_count: {{ threads_count | default(4) }}
jwt_token: "{{ albs_jwt_token }}"
pulp_host: "{{ pulp_host }}"
pulp_user: "{{ pulp_user }}"
pulp_password: "{{ pulp_password }}"
{% if immudb_address is defined and immudb_address %}
immudb_address: "{{ immudb_address }}"
{% endif %}
{% if immudb_database is defined and immudb_database %}
immudb_database: "{{ immudb_database }}"
{% endif %}
{% if immudb_username is defined and immudb_username %}
immudb_username: "{{ immudb_username }}"
{% endif %}
{% if immudb_password is defined and immudb_password %}
immudb_password: "{{ immudb_password }}"
{% endif %}